BEGIN;

CREATE OR REPLACE FUNCTION public.atomic_initiate_checkout(
    p_client_mutation_id UUID,
    p_session_id UUID,
    p_hotel_id UUID
) RETURNS JSONB
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $'$
DECLARE
    v_existing_intent public.payment_intents%ROWTYPE;
    v_session public.table_sessions%ROWTYPE;
    v_intent_id UUID;
BEGIN
    -- 1. Fast Idempotency Check (Pre-lock optimization)
    SELECT * INTO v_existing_intent 
    FROM public.payment_intents 
    WHERE client_mutation_id = p_client_mutation_id;
    
    IF FOUND THEN
        IF v_existing_intent.hotel_id != p_hotel_id OR v_existing_intent.session_id != p_session_id THEN
            RAISE EXCEPTION 'IDEMPOTENCY_MISMATCH: Mutation ID belongs to a different session or tenant';
        END IF;
        RETURN row_to_json(v_existing_intent);
    END IF;

    -- 2. Lock Session (Serialization Boundary)
    SELECT * INTO v_session
    FROM public.table_sessions
    WHERE id = p_session_id AND hotel_id = p_hotel_id
    FOR UPDATE;

    IF NOT FOUND THEN
        RAISE EXCEPTION 'SESSION_NOT_FOUND: Session does not exist or tenant mismatch';
    END IF;

    -- 3. RE-CHECK Exact Idempotency (Post-lock mandatory safety)
    SELECT * INTO v_existing_intent 
    FROM public.payment_intents 
    WHERE client_mutation_id = p_client_mutation_id;
    
    IF FOUND THEN
        IF v_existing_intent.hotel_id != p_hotel_id OR v_existing_intent.session_id != p_session_id THEN
            RAISE EXCEPTION 'IDEMPOTENCY_MISMATCH: Mutation ID belongs to a different session or tenant';
        END IF;
        RETURN row_to_json(v_existing_intent);
    END IF;

    -- 4. Check for DIFFERENT active intents (Case C)
    SELECT * INTO v_existing_intent 
    FROM public.payment_intents 
    WHERE session_id = p_session_id 
    AND status IN ('PENDING', 'PROVIDER_SYNC_UNKNOWN', 'PROVIDER_CREATED');

    IF FOUND THEN
        RAISE EXCEPTION 'ACTIVE_INTENT_EXISTS: An active checkout is already in progress for this session.';
    END IF;

    -- 5. Session State Validation
    -- FIX: We allow 'checkout_initiated' and 'bill_printed' for Dine-In to support multiple attempts.
    IF v_session.status IN ('closed', 'cancelled', 'ready_for_pickup') THEN
        RAISE EXCEPTION 'INVALID_STATE: Cannot checkout a % session.', v_session.status;
    ELSIF v_session.status NOT IN ('open', 'draft', 'payment_pending', 'checkout_initiated', 'bill_printed') THEN
        RAISE EXCEPTION 'INVALID_STATE: Session status % is not eligible for checkout.', v_session.status;
    END IF;

    -- 6. Calculate Authoritative Financial Totals
    PERFORM public.internal_recalculate_session_totals(p_session_id, p_hotel_id);

    SELECT * INTO v_session
    FROM public.table_sessions
    WHERE id = p_session_id;

    IF v_session.total <= 0 THEN
        RAISE EXCEPTION 'INVALID_AMOUNT: Cannot checkout a session with zero or negative total.';
    END IF;

    -- 7. Insert New Payment Intent
    v_intent_id := gen_random_uuid();
    
    BEGIN
        INSERT INTO public.payment_intents (
            id,
            client_mutation_id,
            hotel_id,
            session_id,
            amount,
            subtotal,
            discount_amount,
            tax_amount,
            currency,
            coupon_code,
            status,
            provider,
            provider_order_id,
            provider_payment_id
        ) VALUES (
            v_intent_id,
            p_client_mutation_id,
            p_hotel_id,
            p_session_id,
            v_session.total,
            v_session.subtotal,
            COALESCE(v_session.discount_amount, 0),
            v_session.tax_amount,
            'INR',
            v_session.coupon_code,
            'PENDING',
            'unassigned',
            NULL,
            NULL
        ) RETURNING * INTO v_existing_intent;
    EXCEPTION WHEN unique_violation THEN
        IF SQLERRM LIKE '%payment_intents_client_mutation_id_key%' THEN
            SELECT * INTO v_existing_intent 
            FROM public.payment_intents 
            WHERE client_mutation_id = p_client_mutation_id;
            
            IF FOUND THEN
                RETURN row_to_json(v_existing_intent);
            ELSE
                RAISE EXCEPTION 'CONCURRENCY_ERROR: client_mutation_id unique violation race could not be resolved.';
            END IF;
        ELSIF SQLERRM LIKE '%idx_single_active_intent%' THEN
            RAISE EXCEPTION 'ACTIVE_INTENT_EXISTS: An active checkout is already in progress for this session.';
        ELSE
            RAISE EXCEPTION 'CONCURRENCY_ERROR: Unhandled unique violation: %', SQLERRM;
        END IF;
    END;

    -- 8. Atomic State Transition
    -- FIX: Update the status to 'checkout_initiated' to prevent it from reverting to 'open' (Occupied) in the dashboard
    -- We only transition it if it is not already payment_pending (Quick Service retains payment_pending)
    IF v_session.status != 'payment_pending' THEN
        UPDATE public.table_sessions
        SET 
            status = 'checkout_initiated',
            checkout_initiated_at = NOW(),
            updated_at = NOW()
        WHERE id = p_session_id;
    END IF;

    RETURN row_to_json(v_existing_intent);
END;
$'$;

REVOKE ALL ON FUNCTION public.atomic_initiate_checkout FROM PUBLIC, anon, authenticated;
GRANT EXECUTE ON FUNCTION public.atomic_initiate_checkout TO service_role;

COMMIT;
